<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cd.pokepraiser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pokepraiser_launcher_icon"
        android:label="@string/app_name"
        android:name="com.cd.pokepraiser.PokepraiserApplication"
        android:theme="@style/Theme.PokepraiserTheme" >
        
        <activity
            android:name="com.cd.pokepraiser.PokepraiserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
